[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "~=8.2"
ipython = "~=9.0"
sphinxcontrib-mermaid = "~=0.9"
pickleshare = "*"

[dev-packages]

[requires]
python_version = "3.13"
