# requirements.txt: this file will be read by ammaraskar/sphinx-action@master
Sphinx >= 7.0
ipython >= 8.0

# Docutils 0.21 breaks many csv-table directives
docutils < 0.21, >= 0.18.1

sphinxcontrib-mermaid
