
@import url("default.css");

ul
{
	list-style-type: disc;
}

li p.first
{
	margin-bottom: 0;
}

img
{
	margin: 0;
	padding: 0;
	border: 0 solid black;
}
img.snapshot{
	border: 2px solid black;
	padding: 0px;
}

/* link styles */
a.imga:link,
a.imga:link:hover,
a.imga:visited:hover,
a.imga:visited,
a[class="reference internal image-reference"]:link,
a[class="reference internal image-reference"]:link:hover,
a[class="reference internal image-reference"]:visited,
a[class="reference internal image-reference"]:visited:hover
{
	background-color: transparent;
	text-decoration: none;
	border: none;
}

a[class="reference external"]
{
	background: url(reference-external.png) no-repeat right center;
	padding-right: 15px;
}

div#footer
{
	clear: both;
	text-align: left;
	font: 90% times, "times new roman", sans-serif;
	padding: 0px;
	margin-top: 1px;
	border-top: 1px solid darkgrey;
}
div#footer_logo
{
	float: left;
	text-align: center;
	width: 100px;
	height: 40px;
	margin: 0;
	padding: 4px;
	border-right: 1px solid darkgrey;
}
div#footer_copyright
{
	float: left;
	text-align: left;
	font-size: small;
	padding: 0em 1em 0em 1em;
	border-right: 1px solid darkgrey;
}
div#footer_spacer
{
	float: right;
	color: lightgrey;
	text-align: right;
	font-size: small;
}